<div class = "container-fluid col-md-10" style= "min-height: 580px;">
  <% if session[:cart].empty? %>
    <div lass="container" style="padding:300px; text-align:center">
      <%=link_to(image_tag('home.png'),root_path) %>
      <h4>Không có sản phẩm trong giỏ hàng !!!</h4>
      <div style="display: flex; color:rgb(255, 255, 255); justify-content: center;">
        <%= link_to "Tiếp tục mua sắm", root_path,{style: "background-color: rgb(255, 47, 47); padding: 5px 12px; color: #fff; border-radius: 10px; text-decoration:none;" } %>
      </div>
    </div>
  <% else %>
    <br>
    <h3 align="center"> CHI TIẾT GIỎ HÀNG </h3>
    <div class = "row">
      <div class = "col-md-8 col-sm-8">
        <table class= "table table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Màu</th>
              <th scope="col">Size</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Thành tiền</th>
              <th scope="col">Xóa</th>
            </tr>
          </thead>
            <tbody>
              <%@order_items.each do |item| %>
                <tr>
                  <td><%=image_tag item.chitietsp.hinhanhsp, style: "max-width:100px; max-height:130px;"%></td>
                  <td><%=item.chitietsp.sanpham.tensanpham%></td>
                  <td><%=item.chitietsp.mausp%></td>
                  <td align="center"><%=item.chitietsp.size%></td>
                  <td align="center"><%=item.soluong%></td>
                  <td align="center"><%= number_to_currency(item.thanhtien, precision: 0, unit: "", delimiter: ".", format: "%n %u")%></td>
                  <td align="center">
                    <%=link_to chitietdathang_path(item), method: :delete,data: { confirm: 'Xoá sản phẩm ' +item.chitietsp.sanpham.tensanpham + item.chitietsp.size + ' ?' }, remote: :true do %>
                      <section>
                        <span class="trash">
                          <span></span>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                      </section>
                    <% end %>
                  </td>
                </tr>
              <%end%>
            </tbody>
        </table>
      </div>
      <div class = "col-md-4 col-sm-4">
        <div class ="col-md-12">
          <h5 class = "text-center">TỔNG TIỀN GIỎ HÀNG </h5>
          <table class="table">
            <tbody>
              <tr>
                <td id ="hidden-border">Tổng sản phẩm</td>
                <td id ="hidden-border"><%= @order_items.collect{|order_item| order_item.soluong}.sum%></td>
              </tr>
              <tr>
                <td id ="hidden-border">Thành Tiền</td>
                <td id ="hidden-border"><%= number_to_currency(@order_items.collect{|order_item| order_item.chitietsp.sanpham.giaban*order_item.soluong}.sum, precision: 0, unit: "đ", delimiter: ".", format: "%n %u")%></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Tạm tình</td>
                <td class = "font-weight-bold"><%= number_to_currency(@order_items.collect{|order_item| order_item.chitietsp.sanpham.giaban*order_item.soluong}.sum, precision: 0, unit: "đ", delimiter: ".", format: "%n %u")%></td>
              </tr>
            </tfoot>
          </table>
          <p class="text-center">Quý khách vui lòng kiểm tra hóa đơn trước khi đặt hàng</p>
          <div class = "flex flex-column">
            <div class = "flex items-center topv">
              <%= link_to  "TIẾP TỤC MUA SẮM" , root_path , method: :get, class: "btn btn-outline-dark"%>
            </div>
            <div class = "flex items-center topv">
              <%= link_to  "ĐẶT HÀNG", new_dondathang_path , method: :get, class: "btn btn-outline-success"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
