<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- SCSS -->
    <%= stylesheet_link_tag 'trangchu', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'trangchu', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="menu">
      <div class="title">
        Sản phẩm
      </div>
    </div>
    <div class = "container-fluid col-md-10">
      <div class="row">
        <%@products.each do |product|%>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class = "pitem">
            <%@product_details = Sanpham.includes(:chitietsps).where(masanpham: product.masanpham).last%>
            <%=link_to (image_tag @product_details.chitietsps.last.hinhanhsp ,class: "img-fluid"), sanpham_path(@product_details, color: @product_details.chitietsps.last.mausp)%>
            <div class="row mt-4">
              <div class = "col-12 col-sm-12">
                <!-- all image details for product class = "image_border" -->
                <%product_details_all = Chitietsp.where(sanpham_id: product.masanpham)%>
                <%hash_image = Hash.new%>
                <%product_details_all.each do |details_of_product|%>
                  <%hash_image[details_of_product.mausp] = details_of_product.hinhanhsp%>
                <%end%>
                <%hash_image.each do |key, values|%>
                  <%= link_to ( image_tag values, class: "small_image_color"),sanpham_path(@product_details, color: key)%>
                <%end%>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 col-sm-12">
                <%@image_product_same.each do |key, img|%>
                  <div class="pull-left circular">
                      <%=link_to(image_tag( img , style: "width:60px;height:80px;margin-right:5px;"),sanpham_path(@product_details, mau: key))unless img.blank? %>
                  </div>
                <%end%>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-sm-12 font-weight-bold">
                <%=link_to product.tensanpham, sanpham_path(@product_details, color: @product_details.chitietsps.last.mausp), class: "fw-normal"%>
              </div>
              <div class="col-12 col-sm-12 text-center">
                <p class="price">
                  <%if product.giakhuyenmai.nil? || product.giakhuyenmai == 0 %>
                    <span><%= product.giaban %></span>
                  <%else%>
                    <span style="text-decoration:line-through"><%=product.giaban %></span>
                    <span style="color:#ff0000"><%=product.giakhuyenmai%></span>
                  <%end%>
                </p> 
              </div>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
  </body>
</html>