<div class="col-md-4">
  <div>
    <%=image_tag @product_detail.hinhanhsp ,class: "img-fluid"%>
  </div>
</div>
<div class="col-md-8">
  <div class="ditem">
    <div class="row" >
      <div class="col-md-12" >
        <h3 class="text"><%=@product.tensanpham%></h3>
        <h4 class="price-detail">
          <% if @product.giakhuyenmai.nil? || @product.giakhuyenmai == 0 %>
            <%= number_to_currency(@product.giaban, precision: 0, unit: "", delimiter: ".", format: "%n %u")%><sup style="font-style: unset;">đ</sup>
          <% else %>
            <%= number_to_currency(@product.giakhuyenmai, precision: 0, unit: "", delimiter: ".", format: "%n %u")%><sup style="font-style: unset;">đ</sup> <span style="text-decoration:line-through; color:#ff0000"><%= number_to_currency(@product.giaban, precision: 0, unit: "", delimiter: ".", format: "%n %u") %><sup style="font-style: unset;">đ</sup></span>
          <% end %>
        </h5>
        <div class= "flex flex-column">
          <div class="flex items-center">
            <span class="text-black">Màu sắc:</span>
            <span class="product-color-text"><%= @product_detail.mausp %></span><label class="required"><em>&nbsp;*</em></label>
          </div>
          <div class="flex items-center">
            <span class="text-black">Size:</span>
          </div>
          <%=form_for @order_item, as: :product_detail do |f|%>
            <div class="flex items-center top">
              <%= f.hidden_field :sanpham_id, :value => @product.masanpham %>
              <%= f.hidden_field :mausp, :value => @product_detail.mausp %>
              <div class="row" id="product_size">
                <%@product_details_all.each do |product_detail|%>
                  <%=radio_button_tag :product_size, product_detail.size, false, {disabled: (product_detail.soluongton <= 0 ? true : false)}%><label for="<%="product_size_" + product_detail.size%>" class="product-size"><%=product_detail.size%></label>
                <%end%>
              </div>
              <div class="flex items-center top">
                <span class="text-black">Số lượng:&nbsp;&nbsp;&nbsp;&nbsp;</span><%=f.number_field :soluong, value: 1 , min: 1, required: true%></p>
              </div>
            </div>    
            <div class="flex items-center top">
              <i class="far fa-edit">&nbsp;&nbsp;<%= link_to 'Hướng dẫn chọn size', trangchu_huongdanchonsize_path, class: "fw-normal"%></i>
            </div>        
            <% if @product.giaban <= 0 %>
              <td style=" padding-left:86px">
                <h5 style="color:#ff0000"> Hết Hàng </h5>
              </td>
            <% else %>
              <%= f.submit "Thêm Vào Giỏ Hàng", class: "button_to buy", id: "js-addItemToCart" %>
              <%= f.submit "Mua ngay",class: "button_to now"%>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <%@image_product_same.each do |key, values|%>
        <div class="col-4 col-sm-3">
          <div class="vitem">
            <%=link_to(image_tag( values ,{style: "width:100px; height:130px;"}),sanpham_path(@product, color: key))%>
            <p><%=key%></p>
          </div>
        </div>
      <%end%>
    </div>
    <hr>
  </div>
</div>
