<div class="col-md-4">
  <div>
    <%=image_tag @product_detail.hinhanhsp ,class: "img-fluid_pro"%>
  </div>
</div>
<div class="col-md-8">
  <div class="ditem">
    <div class="row" >
      <div class="col-md-8" >
        <h2>
          <%=@product.tensanpham%>
        </h2>
        <h4 class="text-black"></h4>
        <h4 class="price">
          <% if @product.giakhuyenmai.nil? || @product.giakhuyenmai == 0 %>
            <%= @product.giaban%>đ
          <% else %>
            <%= @product.giakhuyenmai %>đ <span style="text-decoration:line-through; color:#ff0000"><%= @product.giaban %>đ</span>
          <% end %>
        </h4>
        <table class="table table-condensed" style = "min-height: 300px;">
          <tbody>
            <%@product_details_all.each do |product_detail|%>
              <tr>
                <td><%= product_detail.id %></td>
                <td><%= product_detail.mausp %></td>
                <td><%= product_detail.size %></td>
                <% if product_detail.soluongton <= 0 %>
                  <td style=" padding-left:86px">
                    <h5 style="color:#ff0000"> Hết Hàng </h5>
                  </td>
                <% else %>
                  <td class="text-right">
                    <%= button_to 'Thêm Vào Giỏ Hàng', remote: true %>
                  </td>
                  <td class="text-right">
                    <%= button_to 'Mua Ngay', class: "btn btn-dark" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <%@image_product_same.each do |key, values|%>
        <div class="col-4 col-sm-3">
          <div class="vitem">
            <%=link_to(image_tag( values ,{:style => "width:100px; height:130px;"}),sanpham_path(@product, color: key))unless values.blank? %>
            <p><%=key%></p>
          </div>
        </div>
      <%end%>
    </div>
    <hr>
  </div>
</div>