<div class="col-md-4">
  <div>
    <%=image_tag @product_detail.hinhanhsp ,class: "img-fluid_pro"%>
  </div>
</div>
<div class="col-md-8">
  <div class="ditem">
    <div class="row" >
      <div class="col-md-12" >
        <h3 class="text"><%=@product.tensanpham%></h3>
        <h4 class="price-detail">
          <% if @product.giakhuyenmai.nil? || @product.giakhuyenmai == 0 %>
            <%= @product.giaban%>đ
          <% else %>
            <%= @product.giakhuyenmai %>đ <span style="text-decoration:line-through; color:#ff0000"><%= @product.giaban %>đ</span>
          <% end %>
        </h5>
        <div class= "flex flex-column">
          <div class="flex items-center">
            <span class="text-black">Màu sắc:</span>
            <span class="product-color-text"><%= @product_detail.mausp %></span><label class="required"><em>&nbsp;*</em></label>
          </div>
          <div class="flex items-center">   
            <span class="text-black">Size:</span>
          </div>
          <div class="flex items-center top">
            <div class="row">
              <%@product_details_all.each do |product_detail|%>
                <label class="btn btn-default">
                  <input class = "ads_Checkbox" type="checkbox"  value="<%=product_detail.size%>" ><%=product_detail.size%>
                </label>
              <%end%>
            </div>
          </div>
          </div>
          <div class="flex items-center">
            <div class = "row">
              <span class="text-black">Số lượng:</span>
              <span style="margin-right: 15px;">
                <i  onclick="decrementValue()" class="fa fa-minus" aria-hidden="true"></i> 
                <input id="number" type="number" value="1">
                <i onclick="incrementValue()" class="fa fa-plus" aria-hidden="true"></i>
              </span >
            </div>
          </div>
          <div class="flex items-center topv"> 
            <%= button_to add_to_cart_path(masanpham: @product.masanpham , color: @product_detail.mausp) , onclick: "selectProductSize()" , class: "button_to buy" do%>
              <i class="fa fa-shopping-basket bg" aria-hidden="true">Thêm Vào Giỏ Hàng</i>
            <%end%>
            <%= link_to add_to_cart_path(sanpham_id: @product.masanpham , color: @product_detail.mausp, ) , onclick: "selectProductSize()"  do%>  Mua Ngay
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <%@image_product_same.each do |key, values|%>
        <div class="col-4 col-sm-3">
          <div class="vitem">
            <%=link_to(image_tag( values ,{:style => "width:100px; height:130px;"}),sanpham_path(@product, color: key))unless values.blank? %>
            <p><%=key%></p>
          </div>
        </div>
      <%end%>
    </div>
    <hr>
  </div>
</div>
