<div class="row">
  <% if @array_product_follow_category.empty? %>
  <div class="container" style="padding:300px; text-align:center">
    <%=link_to(image_tag('home.png'),root_path) %>
      <h4>Không có sản phẩm !!!</h4>
    <div style="display: flex; color:rgb(255, 255, 255); justify-content: center;">
      <%= link_to "Tiếp tục mua sắm", root_path,{style: "background-color: rgb(255, 47, 47); padding: 5px 12px; color: #fff; border-radius: 10px;text-decoration:none;" } %>
    </div>
  </div>
  <% else %>
  <%@array_product_follow_category.each do |array_product_follow_category|%>
  <%array_product_follow_category.each do |product_follow_category|%>
  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="pitem">
      <!-- Show product by image -->
      <input type="hidden" value="-420000">
      <%@product_details = Sanpham.includes(:chitietsps).where(masanpham: product_follow_category.masanpham).last%>
      <%=link_to (image_tag @product_details.chitietsps.last.hinhanhsp ,class: "img-fluid d-block w-100"), sanpham_path(@product_details, color: @product_details.chitietsps.last.mausp)%>
      <!-- all image details for product class = "image_border" -->
      <div class="row mt-2">
        <div class="col-12 col-sm-12">
          <%product_details_all = Chitietsp.where(sanpham_id: product_follow_category.masanpham)%>
          <%hash_image = {}%>
          <%product_details_all.each do |details_of_product|%>
          <%hash_image[details_of_product.mausp] = details_of_product.hinhanhsp%>
          <%end%>
          <%hash_image.each do |key, values|%>
          <div class="pull-left circular">
            <%= link_to ( image_tag values, class: "small_image_color"), sanpham_path(@product_details, color:key)%>
          </div>
          <%end%>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 font-weight-bold">
          <%=link_to product_follow_category.tensanpham, sanpham_path(@product_details, color: @product_details.chitietsps.last.mausp),  class: "fw-normal"%>
        </div>
        <div class="col-12 col-sm-12">
          <p class="price">
            <%if product_follow_category.giakhuyenmai.nil? || product_follow_category.giakhuyenmai == 0 %>
            <span>
              <%= number_to_currency(product_follow_category.giaban, precision: 0, unit: "", delimiter: ".", format: "%n %u")%><sup
                style="font-style: unset;">đ</sup></span>
            <%else%>
            <span
              style="text-decoration:line-through"><%= number_to_currency(product_follow_category.giaban, precision: 0, unit: "", delimiter: ".", format: "%n %u")%><sup
                style="font-style: unset;">đ</sup></span>
            <span
              style="color:#ff0000"><%= number_to_currency(product_follow_category.giakuyenmai, precision: 0, unit: "", delimiter: ".", format: "%n %u")%><sup
                style="font-style: unset;">đ</sup></span>
            <%end%>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <%end%>
  <%end%>
</div>
<!-- Pagination -->
<div class="row mb-2">
  <div class="col-7 text-right">
    <%=will_paginate @array_product_follow_category, class: "justify-content-end" , style: "color:orange"%>
  </div>
</div>