<% if @pro_img.empty? %>
<div class="container" style="padding:300px; text-align:center">
    <%=link_to(image_tag( 'home.png'),root_path) %>
    Không có sản phẩm !!!
    <div style="display: flex; color:rgb(255, 255, 255); justify-content: center;">
        <%= link_to "Tiếp tục mua sắm", root_path,{style: "background-color: rgb(255, 47, 47); padding: 5px 12px; color: #fff; border-radius: 10px;" } %>
    </div>
</div>
<% else %>
<%end%>
<%@pro_img.each do |sp|%>
<div class="col-xs-6 col-sm-3 col-md-3">
    <div class="pitem">
        <input type="hidden" value="-420000">
        <%@product_details = Sanpham.includes(:chitietsps).where(masanpham: sp.masanpham).last%>
        <%=link_to (image_tag @product_details.chitietsps.last.hinhanhsp ,class: "img-fluid"), sanpham_path(@product_details, mau: @product_details.chitietsps.last.mausp)%>
        <!-- Show same product by color_image -->
        <div class="row mt-2">
            <div class="col-12 col-sm-12 font-weight-bold">
              <%=link_to sp.tensanpham, sanpham_path(@product_details, mau: @product_details.chitietsps.last.mausp),  class: "fw-normal"%>
            </div>
            <div class="col-12 col-sm-12">
              <p class="price">
                <%if sp.giakhuyenmai.nil? || sp.giakhuyenmai == 0 %>
                  <span><%= sp.giaban %></span>
                <%else%>
                  <span style="text-decoration:line-through"><%=sp.giaban %></span>
                  <span style="color:#ff0000"><%=sp.giakhuyenmai%></span>
                <%end%>
              </p> 
            </div>
        </div>
    </div>
</div>
<%end%>