<div class = "container-fluid col-md-8" style= "min-height: 580px;">
<br>
  <div class = "row">
    <div class = "col-md-8 col-sm-8">
      <table class= "table table-responsive">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Màu</th>
            <th scope="col">Size</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
            <th scope="col">Xóa</th>
          </tr>
        </thead>
        <%@cart.each do |product_detail|%>
        <tbody>
          <tr>
            <td><%=image_tag product_detail.hinhanhsp, :style => "max-width:100px; max-height:130px;"%></td>
            <td><%=product_detail.sanpham.tensanpham%></td>
            <td><%=product_detail.mausp%></td>
            <td ><%=product_detail.size%></td>
            <td></td>
            <td></td>
            <td><%=link_to "Xóa", remove_from_cart_path(product_detail), method: :delete%></td>
        </tbody>
        <%end%>
      </table>
    </div>
    <div class = "col-md-4 col-sm-4">
      <div class ="col-md-12">
          <h5 class = "text-center">TỔNG TIỀN GIỎ HÀNG </h5>
        <table>
          <tbody>
            <tr>
              <td class = "col-sm-8">Tổng sản phẩm</td>
              <td class = "col-sm-4">...</td>
            </tr>
            <tr>
              <td class = "col-sm-8">Thành Tiền</td>
              <td class = "col-sm-4">150.000<sup>đ</sup></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class = "col-sm-8">Tạm tình</td>
              <td class = "col-sm-4 font-weight-bold">150.000<sup>đ</sup></td>
            </tr>
          </tfoot>
        </table>
        <br>
        <p class="text-center">Bạn sẽ được miễn phí ship khi đơn hàng của bạn có tổng giá trị trên 3.000.000<sup>đ</sup></p>
        <div class = "row container">
          <div>
            <%= button_to  "TIẾP TỤC MUA SẮM"%>
          </div>
          <div>
            <%= button_to  "THANH TOÁN"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>