<div class="container-fluid col-md-10">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumb">
        <%=link_to image_tag('home.png'), root_path %>
        <span class="mx-2 mb-0">/</span>
        <%if @gen.present?%>
          <%= link_to @gen, sanphams_path(sex: @gen), class: "fw-normal" %>
          <span class="mx-2 mb-0">/</span>
          <strong class="text-black"><%=@bread%></strong>
        <%else%>
          <strong class="text-black"><%=@bread%></strong>
        <%end%>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-4">
    <div class="col-md-6 col-sm-12 col-6">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 filter_show">
          <%# <div class="col-md-12"><span>Bộ lọc</span><span class="caret pull-right"></span></div> %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12 text-right">
      <div class="row p">
        <div class="col-mb-2"><span style="font-weight:bold">Sắp xếp:</span></div>
        <div class="col-md-5"><input data-sorttype="asc" type="radio" name="s_prices" value="Ascending"> Giá từ thấp đến cao</div>
        <div class="col-md-5"><input data-sorttype="desc" type="radio" name="s_prices" value="Descrease"> Giá từ cao đến thấp</div>
      </div>
    </div>
  </div> -->
  <!-- Show products by condition -->
  <div class="sort_paginate_ajax">
    <%= render "ds_sanpham"%>
  </div>
</div>

