<div class="container-fluid mb-4" style="min-height: 610px;">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumb">
        <%=link_to image_tag('home.png'), root_path %>
        <span class="mx-2 mb-0">/</span>
        <% if @gen.present? %>
          <%= link_to @gen, products_path(sex: @gen), class: "fw-normal" %>
          <span class="mx-2 mb-0">/</span>
          <strong class="text-black"><%=@bread%></strong>
        <% else %>
          <strong class="text-black"><%=@bread%></strong>
        <% end %>
      </div>
    </div>
  </div>
 
  <!-- Show products by condition -->
  <div class="row">
    <%= render partial: "DS_Sanpham", locals: {pro_same: @pro_img} %>
  </div>
</div>