<div class = "container" style= " min-height: 520px;">
  <h4 class = "card-header">Đơn hàng của tôi</h4>
  <div class = "table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Ngày mua</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Trạng thái đơn hàng</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% unless @orders.nil? %>
        <%@orders.each do |order|%>
          <tbody>
            <tr>
              <td><%=order.madondathang%></td>
              <td><%=order.ngaydathang.strftime("%d/%m/%Y")%></td>
              <td><%order_item =  Chitietdathang.joins(:chitietsp).where(dondathang_id: order.madondathang)%>
                <%= number_to_currency(order_item.collect{ |item| item.soluong * item.chitietsp.sanpham.giaban}.sum, precision: 0, unit: "", delimiter: ".", format: "%n %u")%>
              </td>
              <td><%=order.tinhtrang%></td>
              <td></td>
              <td>
                <%=link_to "Chi tiết đơn hàng", dondathang_path(order ), class: "btn btn-info"%>
              </td>
            </tr>
          </tbody>
        <%end%>
      <%end%>
    </table>
  </div>
</div>