<br>
<div class = "container col-xl-10 align-self-center">
  <%=form_for @dondathang do |f|%>
  <div class="row">
    <div class="col-sm-8 col-md-4 ">
      <h4>Địa chỉ giao hàng</h4>
      <br>
      <div class="card bg-light border-info mb-3" style="max-width: 28rem;">
        <div class="card-body">
          <p class="card-text">Họ và tên: <%=current_khachhang.hotenkhachhang%></p>
          <p class="card-text">
            <%=f.label :"Địa chỉ giao hàng: "%>
            <%=f.text_field :diachigiaohang, :value => current_khachhang.diachi %>
          </p>
          <p class="card-text">Số điện thoại: <%=current_khachhang.sodienthoai%></p>
        </div>
      </div>
    </div>
    <div class = "col-md-4 col-sm-4">
      <div class ="col-md-12">
        <h5 class = "text-center">Đơn hàng (<%=@order_items.collect{|order_item| order_item.soluong}.sum%> sản phẩm)</h5>
        <br>
        <table>
          <tbody>
            <%@order_items.each do |item|%>
              <tr>
                <td class = "col-sm-8"><%=item.soluong%>X - <%=item.chitietsp.sanpham.tensanpham%>-<%=item.chitietsp.size%></td>
                <td class = "col-sm-4"><%= number_to_currency(item.thanhtien, precision: 0, unit: "", delimiter: ".", format: "%n %u")%></td>
              </tr>
            <%end%>
          </tbody>
          <tfoot>
            <tr>
              <td class = "col-sm-8">Tổng tiền</td>
              <td class = "col-sm-4 font-weight-bold"><%= number_to_currency(@order_items.collect{|order_item| order_item.chitietsp.sanpham.giaban*order_item.soluong}.sum, precision: 0, unit: "đ", delimiter: ".", format: "%n %u")%></td>
            </tr>
          </tfoot>
        </table>
        <br>
        <p class="text-center">Bạn sẽ được miễn phí ship khi đơn hàng của bạn có tổng giá trị trên 3.000.000<sup>đ</sup></p>
          <%=f.submit "ĐẶT MUA" , class: "btn btn-primary btn-lg btn-block"%>
      </div>  
    </div>
  </div>
  <%end%>
</div>
<!--######################################################## --->

