<!DOCTYPE html>
<html>
  <head>
    <title>DoAn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scroll', 'data-turbolinks-track': 'reload' %>
    <a class="scrollToTop"><i class="fa fa-arrow-up"></i></a>
  </head>
  <body>
    <%=render "common/header"%>
    <div class="main main-container">
      <%= yield %>
      <br>
    </div>
    <%=render "common/footer"%>
  </body>
</html>
